h1 {
    text-align: center;
}
body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    width: 130px;
}
.menu li a:hover{
    background-color: #575353;
    color: tomato;
}
a{
    text-decoration: none;
    color: #fff;
}
.header {
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.menu {
    display: flex;
}
.menu li {
    margin-left: 15px;
}
.menu li a {
    display: block;
    padding: 12px;
    background-color: tomato;
}
.container{
    background-color: #fff;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;  
}
.Item {
    background-color: #575353;
    color: #fff;
    padding: 20px;
    margin: 5px;
}
img{
    width: 295px;
    height: 180px;
    
}
 .onca {
  height: 330px;
  width: 400px;
 margin-left: 300px;
  
  


  
}